<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="~{fragments/head :: head('Crea Nuovo Ticket')}"></head>

<body class="bg-secondary-subtle">
    <nav th:replace="~{fragments/navbar :: navbar}"></nav>

    <main class="container my-5">
        <h1>Crea un Nuovo Ticket</h1>
        <hr>

        <form th:action="@{/tickets/create}" method="POST" th:object="${ticket}" class="mt-4">

            <input type="hidden" th:field="*{dataCreazione}">

            <div class="mb-3">
                <label for="titolo" class="form-label">Titolo</label>
                <input type="text" id="titolo" class="form-control" th:field="*{titolo}" th:errorClass="is-invalid">
                <div th:if="${#fields.hasErrors('titolo')}" class="invalid-feedback" th:errors="*{titolo}"></div>
            </div>

            <div class="mb-3">
                <label for="descrizione" class="form-label">Descrizione</label>
                <textarea id="descrizione" class="form-control" th:field="*{descrizione}" rows="3"
                    th:errorClass="is-invalid"></textarea>
                <div th:if="${#fields.hasErrors('descrizione')}" class="invalid-feedback" th:errors="*{descrizione}">
                </div>
            </div>

            <div class="mb-3">
                <label for="categoria" class="form-label">Categoria</label>
                <select id="categoria" class="form-select" name="categoriaId" required>
                    <option value="">Seleziona una categoria</option>
                    <option th:each="cat : ${categorie}" th:value="${cat.id}" th:text="${cat.nome}"></option>
                </select>
            </div>

            <div class="mb-3">
                <label for="operatore" class="form-label">Assegna a Operatore</label>
                <select id="operatore" class="form-select" name="operatoreId" required>
                    <option value="">Seleziona un operatore</option>
                    <option th:each="user : ${users}" th:value="${user.id}" th:text="${user.nome}"></option>
                </select>
            </div>

            <div class="mt-4">
                <button class="btn btn-primary" type="submit">Crea Ticket</button>
                <a class="btn btn-secondary" th:href="@{/tickets}">Annulla</a>
            </div>
        </form>
    </main>

    <footer th:replace="~{fragments/footer :: footer}"></footer>
    <th:block th:replace="~{fragments/script :: script}"></th:block>
</body>

</html>