<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<head th:replace="~{fragments/head :: head('Elenco Ticket')}"></head>

<body class="bg-secondary-subtle">
    <nav th:replace="~{fragments/navbar :: navbar}"></nav>
    <main class="container my-5">
        <h1 class="mb-4">Elenco dei Ticket</h1>

        <form th:action="@{/tickets}" method="GET" class="mb-4">
            <div class="input-group col-md-6">
                <input type="text" name="q" class="form-control" placeholder="Cerca per titolo..."
                    th:value="${keyword}">
                <button class="btn btn-dark" type="submit">
                    Cerca <i class="fas fa-search"></i> </button>
            </div>
        </form>
        <table th:unless="${tickets.isEmpty()}" class="table table-striped align-middle">
            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Titolo</th>
                    <th>Operatore</th>
                    <th>Categoria</th>
                    <th>Data Creazione</th>
                    <th>Stato</th>
                    <th>Azioni</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="ticket : ${tickets}" th:object="${ticket}">
                    <td th:text="*{id}"></td>
                    <td th:text="*{titolo}"></td>
                    <td th:text="*{operatore.nome}"></td>
                    <td th:text="*{categoria.nome}"></td>
                    <td th:text="${#temporals.format(ticket.dataCreazione, 'dd/MM/yyyy HH:mm')}"></td>
                    <td>
                        <form
                            th:if="${#authorization.expression('hasAuthority(''ADMIN'')') or #authentication.principal.id == ticket.operatore.id}"
                            th:action="@{/tickets/{id}/editStato(id=${ticket.id})}" method="POST">
                            <select name="statoId" class="form-select form-select-sm" onchange="this.form.submit()">
                                <option th:each="stato : ${stati}" th:value="${stato.id}" th:text="${stato.valore}"
                                    th:selected="${stato.id == ticket.stato.id}"></option>
                            </select>
                        </form>
                        <span
                            th:unless="${#authorization.expression('hasAuthority(''ADMIN'')') or #authentication.principal.id == ticket.operatore.id}"
                            th:text="*{stato.valore}"
                            th:classappend="*{stato.valore == 'COMPLETATO'} ? 'badge bg-success' : (*{stato.valore == 'In corso'} ? 'badge bg-warning' : 'badge bg-danger')">
                        </span>
                    </td>
                    <td>
                        <a th:href="@{/tickets/{id}(id=*{id})}" class="btn btn-sm btn-info">Dettagli</a>

                        <th:block sec:authorize="hasAuthority('ADMIN')">
                            <a th:href="@{/tickets/{id}/edit(id=*{id})}" class="btn btn-sm btn-warning">Modifica</a>

                            <button class="btn btn-sm btn-danger" type="button" data-bs-toggle="modal"
                                th:data-bs-target="'#delete-modal-' + *{id}">
                                Elimina
                            </button>
                        </th:block>

                        <div class="modal fade" th:id="'delete-modal-' + *{id}" tabindex="-1">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Conferma Eliminazione</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                    </div>
                                    <div class="modal-body">
                                        Sei sicuro di voler eliminare il ticket "[[*{titolo}]]"?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Annulla</button>
                                        <form th:action="@{|/tickets/*{id}/delete|}" method="post">
                                            <button type="submit" class="btn btn-danger">Elimina
                                                Definitivamente</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="nav-item ms-2 mt-5" sec:authorize="hasAuthority('ADMIN')">
                    <span> <a class="nav-link btn btn-sm btn-success text-black" th:href="@{/tickets/create}">+ Crea
                            Nuovo Ticket</span>
                </div>
    </main>
    <footer th:replace="~{fragments/footer :: footer}"></footer>
    <th:block th:replace="~{fragments/script :: script}"></th:block>
</body>

</html>